@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
@import url(https://fonts.googleapis.com/css?family=Pacifico|UnifrakturMaguntia);

a {
	
}

body{
	margin: 0;
	padding: 0;
	background: #fff;

	color: #fff;
	font-family: Arial;
	font-size: 12px;
}
ul {
	list-style-type: none;
	display: inline-block;
}
li {
	display: inline-block;
}

.nav {
	margin-top: -74px;
	height: 4%;
	width: 100%;
	background-color: rgba(230, 230, 230,0.4);
	position: relative;
	z-index: 19;
}


.menu li{
	margin-left: 90px;
	margin-right: 90px;
}

.menu li input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-left: 70%;
}

.menu li input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-left: 85%;
}

.menu li input[type=button]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	margin-left: 100%;
}

.menu li input[type=button]:hover{
	opacity: 0.90;
}

.menu li input[type=button]:active{
	opacity: 0.6;
}

.menu li input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,1);
}

.menu li input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,1);
}

.menu li input[type=button]:focus{
	outline: none;
}

.toggle-button {
	position: absolute;
	background-color: rgba(230, 230, 230,0.5);
	border: 1px solid rgba(230, 230, 230,0.3);
	border-top-style: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: none;
	margin-left: 48%;
	height: 40px;
	width:70px;
	z-index: 25;
}

.toggle-menu div{
	margin-top: -28px;
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url("../flag1.jpg");
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
	z-index: 2;
}

.header div{
	float: left;
	color: #fff;
	font-family: 'UnifrakturMaguntia', cursive;
	font-size: 48px;
	font-weight: 200;
	margin-top: -80px;
}

.small-logo p {
	font-family: 'UnifrakturMaguntia', cursive;
	font-size: 24px;
}

.small-logo p span{
	font-family: 'Pacifico', cursive;
	color: #5379fa !important;
}

.main-logo p span{
	font-family: 'Pacifico', cursive;
}

.header div span{
	color: #5379fa !important;
}

.signup{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.signup input[type=button]{
	width: 260px;
	height: 50px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 5px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 18px;
	font-weight: 400;
	padding: 6px;
	margin-top: 20px;
}

.signup-container {
	height: 60%;
	width: 35%;
	background-color: rgb(255, 255, 255);
	position:absolute;
	z-index: 40;
	border-radius: 10px;
	margin-top: -40%;
	margin-left: 33%;
	border: 1px solid rgba(242, 242, 242, 0.2);
}

.Sign-up{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.Sign-up input[type=text]{
	margin-top: -30%;
	margin-left: -32%;
	width: 80%;
	height: 30px;
	background: transparent;
	border: 2px solid rgba(140, 140, 140,0.6);
	border-radius: 2px;
	color: rgb(0, 0, 0);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 10px;
}

.Sign-up input[type=password]{
	margin-left: -32%;
	width: 80%;
	height: 30px;
	background: transparent;
	border: 2px solid rgba(140, 140, 140,0.6);
	border-radius: 2px;
	color: rgb(0, 0, 0);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 10px;
	margin-top: 10px;
}

.Sign-up input[type=button]{
	margin-left: -32%;
	width: 87%;
	height: 50px;
	background: rgba(140, 140, 140,1);
	border: 2px solid rgba(120, 120, 120,0.6);
	cursor: pointer;
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.Sign-up input[type=button]:hover{
	opacity: 0.8;
}

.Sign-up input[type=button]:active{
	opacity: 0.6;
}

.Sign-up input[type=text]:focus{
	outline: none;
	border: 2px solid rgba(0, 0, 0,0.9);
}

.Sign-up input[type=password]:focus{
	outline: none;
	border: 2px solid rgba(0, 0, 0,0.9);
}

.Sign-up input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(0,0,0,0.6);
}

::-moz-input-placeholder{
   color: rgba(0,0,0,0.6);
}