@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
@import url(https://fonts.googleapis.com/css?family=Pacifico|UnifrakturMaguntia);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

ul {
	list-style-type: none;
	display: inline-block;
}
.background {
	background-image: url("../image/US.PNG");
	background-size: cover;
	width:100%;
	height:100%;
	position:absolute;
	opacity: 0.7;
}

.leftcover {
	position: absolute;
	margin-top: -1%;
	left: 0;
	height:102%;
	width:2.5%;
	background-color:rgba(0, 0, 153, 0.7);
	-webkit-filter: blur(1px);
	z-index:1;
}

.rightcover {
	position: absolute;
	margin-top: -1%;
	right:0;
	height:102%;
	width:2.5%;
	float:right;
	background-color:rgba(0, 0, 153, 0.7);
	-webkit-filter: blur(1px);
	z-index:1;
}

.upcover {
	position: absolute;
	margin-top: -1%;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:5%;
	background-color:rgba(255, 51, 0, 0.99);
	-webkit-filter: blur(1px);
	z-index:2;
}

.basic_info_ticket {
	position: absolute;
	vertical-align: middle;
	height:400px;
	width:550px;
	border: 3px solid rgba(230, 230, 230, 0.4);
	background-color:rgba(255, 255, 128, 0.95);
	z-index:3;
	border-radius: 10px;
	top: -200%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	box-shadow: -3px 4px 2px 0px rgba(89, 89, 89,0.6);
}

#dec1 {
	font-weight:bolder;
	font-size:40px;
	margin-left:10%;
	margin-top:-2px;
	font-family: 'Montserrat', sans-serif;
	cursor:default;
}

#dec2 {
	font-weight:bold;
	font-size:30px;
	margin-top:-50px;
	margin-left:22%;
	font-family: 'Montserrat', sans-serif;
	cursor:default;
}

#underline1 {
	margin-top:-30px;
	width:100%;
	background:black;
	height:3px;
}

#underline2 {
	margin-top:-45px;
	width:100%;
	background:black;
	height:40px;
}

#underline-logo {
	cursor:default;
	color:rgba(255, 255, 128,0.95);
	text-align:center;
	font-family: 'UnifrakturMaguntia', cursive;
	font-size:28px;
}

#underline-votee {
	font-family: 'Pacifico', cursive;
}

.basic_info ul li{
	text-align:center;
	margin-left:-20px;
}

.basic_info ul li div {
	margin-top:-10px;
}

.basic_info ul li .button span{
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	margin-right: 18px;
	background-color: rgba(217, 217, 217,0.4);
}

.choice {
	margin-left:-40px;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	cursor:default;
}

.container-gender {
	margin-left:-12px;
}

.option {
	cursor:pointer;
}

#submit {
	cursor:pointer;
	margin-left:-40px;
	margin-top:10px;
	font-family: 'Montserrat', sans-serif;
	font-size:25px;
	font-weight:bold;
	background:rgba(217, 217, 217,0.6);
}

.logout {
	background-color: rgba(255, 0, 0, 0.7);
    position: absolute;
    margin-left: 46.5%;
    bottom: 0;
    margin-bottom: -10px;
    font-size: 14px;
    height: 30px;
    width: 5%;
    text-align: center;
    overflow:hidden;
    border-top-left-radius:5px;
	border-top-right-radius:5px;
	cursor: pointer;
	border: 4px solid rgba(250, 250, 250, 0.7);
	font-family: 'Montserrat', sans-serif;
}

.logout p{
	margin-top: 2px;
	color:rgba(250, 250, 250, 0.7);
}

/*attitude*/
.detail {
	text-align: center;
	display: inline-block;
	width: 100%;
	position: absolute;
	margin-top: 100px;
}

.topics li{
	margin-left: 50px;
	margin-right: 50px;
	display: inline-block;
	margin-top: 50px;
}

.topics li .above{
	position: absolute;
	height:180px;
	width: 180px;
	z-index:1
	text-align: center;
	background-color: rgba(255, 255, 128, 1);
	color: rgb(20, 20, 82);
	border: 3px solid rgba(230, 230, 230, 0.4);
	box-shadow: -3px 14px 4px 0px rgba(89, 89, 89,0.6);
	border-radius: 4px;
	overflow: hidden;
	vertical-align: middle;
	line-height: 45px;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	font-weight:bolder;
}

.topics li .below{
	height:180px;
	width: 180px;
	color: rgba(16, 16, 66,1);
	background-color:rgba(0, 230, 0,1);
	border: 3px solid rgba(230, 230, 230, 0.4);
	box-shadow: -3px 4px 2px 0px rgba(89, 89, 89,0.6);
	border-radius: 4px;
	overflow: hidden;
	line-height: 55px;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight:bolder;
	color: white;
}

.topics li .below p{
	font-size: 20px;}

