@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
@import url(https://fonts.googleapis.com/css?family=Pacifico|UnifrakturMaguntia);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.background {
	background-image: url("../image/US.PNG");
	background-size: cover;
	width: 100%;
	height:100%;
	position:absolute;
	-webkit-filter: blur(1px);
	opacity: 0.5;
}

.leftcover {
	position: absolute;
	margin-top: -1%;
	left: 0;
	height:102%;
	width:2.5%;
	background-color:rgba(0, 0, 153, 0.7);
	-webkit-filter: blur(1px);
	z-index:1;
}

.rightcover {
	position: absolute;
	margin-top: -1%;
	right:0;
	height:102%;
	width:2.5%;
	float:right;
	background-color:rgba(0, 0, 153, 0.7);
	-webkit-filter: blur(1px);
	z-index:1;
}

.upcover {
	position: absolute;
	margin-top: -1%;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:5%;
	background-color:rgba(255, 51, 0, 0.99);
	-webkit-filter: blur(1px);
	z-index:2;
}

.basic_info_ticket {
	position: absolute;
	vertical-align: middle;
	height:400px;
	width:550px;
	border: 3px solid rgba(230, 230, 230, 0.4);
	background-color:rgb(255, 255, 128);
	z-index:3;
	border-radius: 10px;
	top: 30%;
    left: 35%;
}

#dec1 {
	font-weight:bolder;
	font-size:40px;
	margin-left:18%;
	margin-top:-2px;
	font-family: 'Montserrat', sans-serif;
	cursor:default;
}

#dec2 {
	font-weight:bold;
	font-size:30px;
	margin-top:-50px;
	margin-left:24%;
	font-family: 'Montserrat', sans-serif;
	cursor:default;
}

#underline1 {
	margin-top:-30px;
	width:100%;
	background:black;
	height:3px;
}

#underline2 {
	margin-top:275px;
	width:100%;
	background:black;
	height:40px;
}

#underline-logo {
	cursor:default;
	color:rgb(255, 255, 128);
	text-align:center;
	font-family: 'UnifrakturMaguntia', cursive;
	font-size:28px;
}

#underline-votee {
	font-family: 'Pacifico', cursive;
}