@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
@import url(https://fonts.googleapis.com/css?family=Pacifico|UnifrakturMaguntia);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.background {
	background-image: url("../image/Seal.PNG");
	background-size: cover;
	width:100%;
	height:100%;
	position:absolute;
	opacity: 0.8;
	z-index: -1;
	opacity: 0.8;
	-webkit-filter: blur(0px);
}

.upcover {
	position: absolute;
	margin-top: -1%;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:9%;
	opacity: 0.6;
	background-color:rgba(0, 0, 255, 0.99);
	-webkit-filter: blur(0px);
	z-index:2;
}

.downcover {
	position: absolute;
	margin-bottom: -1%;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:16%;
	opacity: 0.6;
	background-color:rgba(255, 0, 0, 0.99);
	-webkit-filter: blur(0px);
	z-index:2;
}